Repository nextgenusfs/mpmsub: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, integration, Core Library, API Interface

codecov.yml:

# Codecov configuration for mpmsub
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 75%
        threshold: 1%
        base: auto
        branches:
          - main
        if_ci_failed: error
    patch:
      default:
        target: 80%
        threshold: 2%
        base: auto
        branches:
          - main
        if_ci_failed: error

  ignore:
    - "tests/"
    - "examples/"
    - "benchmarks/"
    - "docs/"
    - "site/"
    - "htmlcov/"
    - "setup.py"
    - "conftest.py"

comment:
  layout: "reach,diff,flags,tree,reach"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main

github_checks:
  annotations: true

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

flags:
  unittests:
    paths:
      - mpmsub/
    carryforward: false
  integration:
    paths:
      - mpmsub/
    carryforward: false

component_management:
  default_rules:
    statuses:
      - type: project
        target: 75%
      - type: patch
        target: 80%
  individual_components:
    - component_id: core
      name: "Core Library"
      paths:
        - mpmsub/cluster.py
        - mpmsub/utils.py
      statuses:
        - type: project
          target: 85%
        - type: patch
          target: 90%
    - component_id: api
      name: "API Interface"
      paths:
        - mpmsub/__init__.py
      statuses:
        - type: project
          target: 80%
        - type: patch
          target: 85%

add license file
  LICENSE
Due: none

simplify documentation
  docs/api/overview.md
  docs/guide/advanced.md
  docs/guide/jobs.md
  docs/index.md
Due: none

add some actions for tests and publishing
  .github/workflows/code-quality.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  pyproject.toml
Due: none

updates to pre-commit/linting configuration
  .github/workflows/code-quality.yml
  .github/workflows/publish.yml
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: none

fix line length issues found by flake8
  .pre-commit-config.yaml
  mpmsub/__init__.py
Due: unittests, integration, API Interface

remove test comment
  mpmsub/__init__.py
Due: unittests, integration, API Interface

use exit-zero for flake8 in pre-commit to match CI behavior
  .pre-commit-config.yaml
  mpmsub/cluster.py
  mpmsub/utils.py
  tests/test_basic.py
Due: unittests, integration, Core Library

add mac silicon improved mem detection; bump version
  mpmsub/cluster.py
  mpmsub/utils.py
  pyproject.toml
Due: unittests, integration, Core Library

fix release workflow: skip tests, use modern actions, improve error handling
  .github/workflows/release.yml
Due: none

fix end of file in publish.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
Due: none

Bump version to 2025.10.16
  pyproject.toml
Due: none
